* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --main-color: #0cb9c1;
}

*:not(i) {
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--main-color);
}

button {
  cursor: pointer;
}

.container {
  background-color: #ffffff;
  width: 90vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 80px 50px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.search-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.search-box input {
  padding: 5px;
  width: 70%;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 3px solid var(--main-color);
}

.search-box button {
  padding: 15px 0;
  width: 25%;
  background-color: var(--main-color);
  border: none;
  outline: none;
  color: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.result {
  position: relative;
}

.result h3 {
  font-size: 30px;
  color: #1f194c;
}

.result .word {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.result button {
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
  font-size: 18px;
}

.result .details {
  display: flex;
  gap: 10px;
  color: #b3b6d4;
  margin: 5px 0 20px 0;
  font-size: 14px;
}

.word-meaning {
  color: #575a7b;
}

.word-example {
  color: #575a7b;
  font-style: italic;
  border-left: 5px solid var(--main-color);
  padding-left: 20px;
  margin-top: 30px;
}

.error {
  margin-top: 80px;
  text-align: center;
}
